DATABASE_URL=postgres://qwflrofl:9sdLBiC_YW-p2RTZXKDjhJVCqkNzW-cS@ziggy.db.elephantsql.com:5432/qwflrofl
DATABASE_URL_DEVELOPMENT=enter-your-development-database-url-here
DATABASE_URL_TEST=enter-your-test-database-url-here
DATABASE_URL_PREVIEW=enter-your-preview-database-url-here
LOG_LEVEL=info
